<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>

    {{!-- CSS BOOTSTRAP --}}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/pages/{{page}}/style.css">
    <link rel="stylesheet" href="/css/pages/{{page}}/responsive.css">

    <link rel="icon" href="/assets/icons/logo.png">
</head>

<body>
    {{> navbar}}

    {{{body}}}

    {{> modalCart}}
    {{> footer}}

    {{!-- JS BOOTSTRAP --}}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

    {{!-- EVENTOS DO CARRINHO DE COMPRAS --}}
    <script type="module" src="/js/func/cart/otherEvents.js"></script>

    {{!-- CARREGAMENTO DO JAVASCRIPT DA PÁGINA --}}
    <script type="module" src="/js/pages/{{page}}/script.js"></script>
    <script type="module" src="/js/pages/{{page}}/txtdinamic.js"></script>
    <script src="https://kit.fontawesome.com/6c5b2a3ba2.js" crossorigin="anonymous"></script>
    <script src="/js/jquery.js"></script>
</body>

</html>