{{!-- Template para cada produto da panificadora --}}

<!DOCTYPE html>

<html lang="pt">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="pães, bolos, doces, refrigerantes">
    <meta name="author" content="Léo Vitor">
    <title>{{title}} - Seção de {{item}}</title>

    <link rel="website icon" href="/assets/icons/logo.png">

    <link rel="stylesheet" href="/css/pages/item/style.css">
    <link rel="stylesheet" href="/css/pages/item/responsive.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
</head>

<body>
    {{> navbar }}

    {{#each produto}}
    <div class="box-product">
        <div class="box-img-product" id="box-img-product">
            <img id="img-product" src="/assets/imgs/pages/products/items/{{imagem}}"></img>
        </div>

        <div class="info-product">
            <div class="content-product">
                <h2 id="nameProduct">{{produto}}</h2>
                <p id="priceProduct">{{formatCurrency precoUnitario}}</p>
            </div>

            <div class="cart-product">
                <div>
                    <div>
                        <label for="quanty">Quantidade:</label>
                    </div>

                    <input min="1" max="10" value="1" id="quanty" type="number">
                </div>

                <p class="cart-warn" id="cart-warn"></p>

                <button id="add-to-cart" class="add-to-cart-btn">
                    <img src="/assets/imgs/components/cart/cart-shopping.svg" alt="icone-de-carrinho">Adicionar no
                    carrinho
                </button>
            </div>

            <div class="feature-product">
                <h3>Características</h3>

                <ul>
                    <li>{{index caracteristicas 0}}</li>
                    <li>{{index caracteristicas 1}}</li>
                    <li>{{index caracteristicas 2}}</li>
                </ul>
            </div>

            <div class="describe-product">
                <p>{{descricao}}</p>

            </div>
        </div>
    </div>
    {{/each}}


    <section class="box-main-products">
        <h3>Você pode gostar...</h3>

        <div class="box-cards" id="box-cards">
            {{#each itemSuggestion}}
            <a href="/produtos/{{categoria}}/{{url_produto}}">
                <div class="card-item">
                    <div class="card-img-item">
                        <img src="/assets/imgs/pages/products/items/{{imagem}}">
                    </div>

                    <div class="card-body">
                        <p class="card-item-name">{{produto}}</p>
                        <p class="card-item-price">{{formatCurrency precoUnitario}}</p>
                    </div>
                </div>
            </a>
            {{/each}}
        </div>
    </section>

    <div class="boxBtnBack">
        <a href="{{btnUrlBack}}"><button><img src="/assets/imgs/pages/home/arrow-right.svg" alt="seta-direita">
                Voltar</button></a>
    </div>

    {{> cart}}

    {{> footer}}


    <script type="module" src="/js/cart/funcCart.js"></script>
    <script type="module" src="/js/cart/configCart.js"></script>
    
    <script src="/js/components/navMenu.js"></script>
    
    <script type="module" src="/js/pages/item/script.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
</body>

</html>