<!DOCTYPE html>

<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="pães, bolos, doces, refrigerantes">
    <meta name="author" content="Léo Vitor">

    <title>Seção de {{item}} - Panificadora Bakery</title>

    <link rel="stylesheet" href="/css/pages/products/style.css">
    <link rel="stylesheet" href="/css/pages/products/responsive.css">

    <link rel="icon" href="/assets/icons/logo.png">
</head>

<body>
    {{> navbar}}
    {{{body}}}

    <section data-category="{{category}}" class="box-search-products" id="boxSearchProducts">
        <div style="flex: 30%;">
            <label for="filter">Filtrar por:</label>
            <select id="filter">
                <option value="todos" selected>Todos</option>
                
                {{#if (eq category "paes" "bolos" "varejo" "salgadinhos") }}
                    <option value="doce">Doce</option>
                    <option value="salgado">Salgado</option>
                {{/if}}
                {{#if (eq category "gelados")}}
                    <option value="lata">Latas</option>
                    <option value="garrafa">Garrafas</option>
                {{/if}}
            </select>
        </div>

        <div style="flex: 30%; text-align: center;">
            <input type="text" id="inputSearch" placeholder="Pesquise pelo nome do produto">
            <button id="btnInputSearch">Pesquisar</button>
        </div>

        <div style="flex: 30%; text-align: right;">
            <p>Produtos encontrados: <span style="font-weight: bold" id="productLength">{{lengthArray items}}</span></p>
        </div>
    </section>

    <main class="box-main-products">
        <div class="box-cards" id="box-cards">
            {{#each items}}
            <a href="{{categoria}}/{{url_produto}}">
                <div class="card-item" id="{{id}}">
                    <div class="card-img-item">
                        <img src="/assets/imgs/pages/products/items/{{imagem}}">
                    </div>

                    <div class="card-body">
                        <p class="card-item-name">{{produto}}</p>
                        <p class="card-item-price">{{formatCurrency precoUnitario}}</p>
                    </div>
                </div>
            </a>
            {{/each}}
        </div>

    </main>
    
    <div class="boxBtnBack">
        <a href="/#products"><button><img src="/assets/imgs/pages/home/arrow-right.svg" alt="seta-direita"> Voltar</button></a>
    </div>

    {{> footer}}
    {{> cart}}

    <script type="module" src="/js/cart/funcCart.js"></script>
    <script type="module" src="/js/cart/configCart.js"></script>
    <script type="module" src="/js/pages/products/script.js"></script>

    <script src="/js/components/navMenu.js"></script>
</body>

</html>